.todolist-page {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.todolist-title-container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    font-size: large;
    background-color: white;
    padding: 15px 0;
}

    .todolist-title-container > img {
        width: 24px;
        height: 24px;
    }

.todo-list-main {
    flex: 1;
}

.todo-list-main > ul {
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 3px rgba(0, 0, 0.12);
}

.new-todo-input {
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12);
}

.new-todo-input > input {
    padding-left: 12px;
    color: black;
    height: 30px;
    background-color: transparent;
    border: none;
    flex: 1;
    font-size: medium;
}

.new-todo-input > input:focus {
    outline: none;
}

.new-todo-div > button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 500px) {
    .todolist-page {
        padding-top: 40px;
        min-height: inherit;
        align-items: center;
    }

    .todolist-title-container {
        max-width: 800px;
    }

    .todo-list-main {
        order: 3;
        max-width: 800px;
        width: 100%;
    }

    .new-todo-input {
        align-self: inherit;
        max-width: 800px;
        width: 100%;
        order: 2;
        box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
        z-index: 3;
    }
}

input.completed-checkbox {
    float: left;
    margin: 5px;
    width: 30px;
}
p.todo-item-title {
    float: left;
    margin: 5px;
}
p.todo-item-deadline {
    float: left;
    margin: 5px;
}
img.delete-button {
    float: right;
    margin: 5px;
}

.new-todo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-todo-inputs {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start; /* Öğeleri sola hizalar */
    margin-bottom: 10px; /* Diğer öğelerle arasına boşluk ekler */
}

.new-todo-input,
.new-todo-date {
    margin-bottom: 10px; /* Boşluk ekler */
    padding: 5px; /* Gerekirse boşlukları ayarlar */
    height:40px;
}


.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.todo-row-infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Öğeleri sola hizalar */
    margin-bottom: 10px; /* Diğer öğelerle arasına boşluk ekler */
}
.completed-checkbox {
    margin-right: 10px;
}

.delete-button {
    cursor: pointer;
}
.overDueClass {
    color: red;
    font-style: italic;
    font-weight: bold;
}
.inputInvalid{
    color:red;
}

button[disabled] {
    background-color: gray;
    position: relative;
}
button[disabled]:hover {
    border: 0px solid;
    pointer-events:none;
}
.errorMessage {
    color: red;
    font-weight: bold;
    font-style: italic;
}